# Problem #1

In [40]:
import pandas as pd
import os
from sklearn.feature_extraction.text import CountVectorizer
import sys
reload(sys)
sys.setdefaultencoding('utf8')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

In [2]:
os.chdir('C:\Users\user\downloads')
salaryfn = 'salary_uk.csv'
salary_uk = pd.read_csv(salaryfn)

# Preprocessing

In [3]:
#drop redundant raw location and raw salary features
salary_uk = salary_uk.drop([u'LocationRaw', u'SalaryRaw', u'SourceName'],axis =1)

In [4]:
salary_uk.head()

,Id,Title,FullDescription,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryNormalized
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,25000
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,30000
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,30000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,27500
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000

In [13]:
salary_uk.columns

Index([u'Id', u'Title', u'FullDescription', u'LocationNormalized',
       u'ContractType', u'ContractTime', u'Company', u'Category',
       u'SalaryNormalized'],
      dtype='object')

In [6]:
#Uses CountVectorizer, I use TfidVectorizer which is superior to CountVectorizer because it 
#uses term frequency-inverse document frequency (TF–IDF) which weights the word counts by a measure 
#of how often they appear in the documents

#vec = CountVectorizer()
#X = vec.fit_transform(salary_uk['Title'].values.astype('U'))
#X

In [7]:
#Vectorizes Title feature using term frequency-inverse document frequency 
vec = TfidfVectorizer()
X = vec.fit_transform(salary_uk['Title'].values.astype('U'))
Title = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())

In [8]:
#Vectorizes FullDescription feature using term frequency-inverse document frequency 
vec = TfidfVectorizer()
X = vec.fit_transform(salary_uk['FullDescription'].values.astype('U'))
FullDescription = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())

In [9]:
salary_uk2 = pd.merge(salary_uk, Title, left_index=True, right_index=True)

In [10]:
#This adds the FullDescription vector. It also makes the dataframe a little bit too big to run on my laptop so for now its
#commented out. Without this the datframe will have 3902 columns instead of 31087. More manageable

#salary_uk2 =pd.merge(salary_uk2, FullDescription, left_index=True, right_index=True)

In [11]:
salary_uk2.head()

,Id,Title,FullDescription,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryNormalized,10,...,yot,you,young,your,yourtime,youth,yr,zend,zero,zone
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,30000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,27500,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
salary_uk = salary_uk2.drop(['Title','FullDescription'], axis = 1) #drops the now vectorized columns

In [23]:
salary_uk = pd.get_dummies(salary_uk, columns =[u'LocationNormalized',
       u'ContractType', u'ContractTime', u'Company', u'Category'])

In [25]:
salary_uk.head()

,Id,SalaryNormalized,10,100,1000,11,11501250,12,140,15,...,Category_Other/General Jobs,"Category_PR, Advertising & Marketing Jobs",Category_Property Jobs,Category_Retail Jobs,Category_Sales Jobs,Category_Scientific & QA Jobs,Category_Social work Jobs,Category_Teaching Jobs,Category_Trade & Construction Jobs,Category_Travel Jobs
0,12612628,25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,12612830,30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,12612844,30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,12613049,27500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,12613647,25000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

Now we have our dataset ready for analysis.

# Exploratory Data Analysis

# Partitioning the Data Set

In [29]:
Y_salary_uk =salary_uk['SalaryNormalized']
X_salary_uk = salary_uk.drop('SalaryNormalized', axis=1)
Xtrain, Xtest, ytrain, ytest = train_test_split(X_salary_uk, Y_salary_uk,
                                                random_state=9)
Xcolnames = list(X_salary_uk)

# Analysis

# Linear Regression

In [42]:
lr = LinearRegression().fit(Xtrain, ytrain)
print("Training set score: {:.2f}".format(lr.score(Xtrain, ytrain)))
print("Test set score: {:.2f}".format(lr.score(Xtest, ytest)))

# Ridge Regression

In [43]:
ridge = Ridge().fit(Xtrain, ytrain)
print("Training set score: {:.2f}".format(ridge.score(Xtrain, ytrain)))
print("Test set score: {:.2f}".format(ridge.score(Xtest, ytest)))